// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-earth: #f2ca73;
	--ion-color-earth-rgb: 242,202,115;
	--ion-color-earth-contrast: #000000;
	--ion-color-earth-contrast-rgb: 0,0,0;
	--ion-color-earth-shade: #d5b265;
	--ion-color-earth-tint: #f3cf81;
}

.ion-color-earth {
	--ion-color-base: var(--ion-color-earth);
	--ion-color-base-rgb: var(--ion-color-earth-rgb);
	--ion-color-contrast: var(--ion-color-earth-contrast);
	--ion-color-contrast-rgb: var(--ion-color-earth-contrast-rgb);
	--ion-color-shade: var(--ion-color-earth-shade);
	--ion-color-tint: var(--ion-color-earth-tint);
}

:root {
	--ion-color-blue: #ccebff;
	--ion-color-blue-rgb: 204,235,255;
	--ion-color-blue-contrast: #000000;
	--ion-color-blue-contrast-rgb: 0,0,0;
	--ion-color-blue-shade: #b4cfe0;
	--ion-color-blue-tint: #d1edff;
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}

:root {
	--ion-color-pink: #ffccf6;
	--ion-color-pink-rgb: 255,204,246;
	--ion-color-pink-contrast: #000000;
	--ion-color-pink-contrast-rgb: 0,0,0;
	--ion-color-pink-shade: #e0b4d8;
	--ion-color-pink-tint: #ffd1f7;
}

.ion-color-pink {
	--ion-color-base: var(--ion-color-pink);
	--ion-color-base-rgb: var(--ion-color-pink-rgb);
	--ion-color-contrast: var(--ion-color-pink-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink-shade);
	--ion-color-tint: var(--ion-color-pink-tint);
}
